<!-- Hero 3 - Bootstrap Brain Component -->
<section class="py-3 py-lg-5 py-xl-8">
    <div class="container overflow-hidden">
      <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
        <div class="col-12 col-lg-6 order-1 order-lg-0">
          <h2 class="display-3 fw-bold mb-3">DODO Reminders</h2>
          <p class="fs-4 mb-5">A Completely New and modernized way of making and keeping up with reminders</p>
          <div class="d-grid gap-2 d-sm-flex">
            <a type="button" class="btn btn-primary bsb-btn-2xl rounded-pill" routerLink="/login">Create Your Todo List Now</a>
          </div>
        </div>
        <div class="col-12 col-lg-5 text-center">
          <div class="position-relative">
            <div class="bsb-circle border border-4 border-warning position-absolute top-50 start-10 translate-middle z-1"></div>
            <div class="bsb-circle bg-primary position-absolute top-50 start-50 translate-middle" style="--bsb-cs: 460px;"></div>
            <div class="bsb-circle border border-4 border-warning position-absolute top-10 end-0 z-1" style="--bsb-cs: 100px;"></div>
            <img class="img-fluid position-relative z-2" loading="lazy" src="assets/dodoimg.jpg" alt="A Digital Agency Specialized in AI and Web 3.0" style="border-radius: 20px;">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="py-3 py-lg-5 py-xl-8 mt-100" >
    <div class="container overflow-hidden">
        
      <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-center">
        
        <div class="col-12 col-lg-6 order-1 order-lg-0">
          <p class="fs-4 mb-5" style="text-align: center;">Dodo Reminders is a user-friendly online platform designed to help you stay organized and on top of your tasks. With customizable reminders, intuitive scheduling, and seamless integration with your favorite apps, Dodo Reminders ensures you never miss an important deadline or event. Whether for personal use or professional needs, it’s your go-to tool for efficient time management and productivity.</p>
          <div class="d-grid gap-2 d-sm-flex">
          </div>
        </div>
        
      </div>
    </div>
  </section>


  <div class="container h-100">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>VOTED BEST WEB-APP <br> OF 2026</h1>
            <p>Visual communication and problem-solving</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">
          <i class="fa fa-rebel"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>OVER 100 MILLION <br>SATISFIED USERS</h1>
            <p>How design is implemented on the web.</p>
          </div>
          <a href="#">more</a>
        <div class="ico-card">
          <i class="fa fa-codepen"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>7 STAR <br>RATING</h1>
            <p>User Interface and User Experience Design.</p>
          </div>
          <a href="#">more</a>
        <div class="ico-card">
          <i class="fa fa-empire"></i>
        </div>
        </div>
      </div>
      
    </div>
  </div>